@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(
		112.68deg,
		color(display-p3 0 0 0) 0%,
		color(display-p3 0 0.039 0.176) 100%
	);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}
